.cart ul {
  margin-bottom: .7em;
}

.cart-item {
  margin-bottom: .3em;
}

.cart-item_name {
  display: inline-block;
}

.cart-item_price {
  float: right;
}

.cart_total {
    font-weight: bold;
    font-size: 1em;
    line-height: 2.1em;
    text-align: right;
    color: blue;
    border-top: 1px solid #ccc;
}